div.header
	h1.title Munchkin
	div.navbardiv
		a.navbar(href="profile") Home
		unless isAuthenticated
			a.navbar(href="login") login
			a.navbar(href="create-account") register
		else 
			a.navbar(href="logout") logout