extends layout

block content

	div.side-bar
		div.chat
			div.chat-box
				ul#messages
			form(action="" id="chat" class="chat-form")
				input#message(autocomplete = "off")
				button(class="message-send btn") SEND
		div.state-buttons-container
			div.state-buttons
				div.first-row
					div.first-column
						button(class="btn btn-sell") SELL
						button(class="btn btn-discard") DISCARD
						button(class="btn btn-equip") EQUIP
						button(class="btn btn-unequip") UNEQUIP
						
					div.second-column
						button(class="btn btn-fight") FIGHT
						button(class="btn btn-run") RUN

				div.second-row
					div.end-turn-container
						button#join-game Join Game
						button#start-game START GAME
						button#phase-one PHASE ONE
						button#btn-update getUpdate
						button(class="btn btn-next-turn") NEXT TURN


	script(type='text/javascript').
		var userID = #{userID}
		var roomNumber = #{gameID}
		var userName = #{userName}
		var gameID = #{gameID};
    

