extends layout

block content 
	include partials/navbar.pug

	div.container
		div.messages
		div.chatbox
			form(id='messageForm')
				div.form-group
					label Enter Message
					textarea(class='form-control' id='message')
					input(type='submit' class='btn btn-primary' value='send message')


//- extends form-layout

//- block content
//-   include ../partials/navbar.pug

//-   div.box
//-     div.login
//-       form(method='POST' action='login')
//-         div.form-group
//-           label(for='username') Username
//-           input(type='text' id='username' placeholder='Username' name='username')

//-         div.form-group
//-           label(for='password') Password
//-           input(type='password' id='password' placeholder ='Password' name='password')

//-         button(type='submit' id='login-button') Login
//-       div.link-container
//-         span.link
//-           a(href='/forgot-password') Forgot your password?
//-         span.link
//-           a(href='/create-account') Create an account
