extends partials/game-layout

block content
	.container
		.game-board
			.phase-banner
				h3 Current Phase:
			.player-row
				.player#player1
					p.name PLAYER1
					p.cardsInHand 
					p.gold
					p.level
				.player#player2 
					p.name PLAYER2
					p.cardsInHand 
					p.gold
					p.level
				.player#player3 
					p.name PLAYER3.
					p.cardsInHand 
					p.gold
					p.level
			.stats 
				h3.statistics Statistics
				p(class="userLevel generalInfo") Level: 0
				p(class="userStrength generalInfo") Strength: 0
			.class-area
				h3.classHeader Class
				.card#class-in-play
					.title-and-type
						p.title
						.type-icon
					.strength
					p.description
					.rewards-and-level
			.equipment 
				h3.equipmentHeader Equipment
			.card-in-play 
				h3.card-in-playHeader Card in play
				.card#card-in-play
					.title-and-type
						p.title
						.type-icon
					.strength
					p.description
					.rewards-and-level

			.cards-in-hand  
				.card#0 
					.title-and-type
						p.title
						.type-icon
					.strength
					p.description
					.rewards-and-level
				.card#1 
					.title-and-type
						p.title
						.type-icon
					.strength
					p.description
					.rewards-and-level
				.card#2 
					.title-and-type
						p.title
						.type-icon
					.strength
					p.description
					.rewards-and-level
				.card#3 
					.title-and-type
						p.title
						.type-icon
					.strength
					p.description
					.rewards-and-level
				.card#4 
					.title-and-type
						p.title
						.type-icon
					.strength
					p.description
					.rewards-and-level
				.card#5
					.title-and-type
						p.title
						.type-icon
					.strength
					p.description
					.rewards-and-level
				.card#6
					.title-and-type
						p.title
						.type-icon
					.strength
					p.description
					.rewards-and-level
				.card#7
					.title-and-type
						p.title
						.type-icon
					.strength
					p.description
					.rewards-and-level
				.card#8
					.title-and-type
						p.title
						.type-icon
					.strength
					p.description
					.rewards-and-level
				.card#9
					.title-and-type
						p.title
						.type-icon
					.strength
					p.description
					.rewards-and-level

		div.side-bar
			div.chat
				div.chat-box
					div#messages
			form(action="" id="chat" class="chat-form")
				input#message(autocomplete = "off")
				button(class="message-send btn") SEND
			div.state-buttons-container
				div.state-buttons
					div.first-row
						div.first-column
							button(class="btn btn-sell") SELL
							button(class="btn btn-discard") DISCARD
							button(class="btn btn-equip") EQUIP
							
						div.second-column
							button(class="btn btn-fight") FIGHT
							button(class="btn btn-run") RUN

					div.second-row
						div.end-turn-container
							button#join-game Join Game
							button#start-game START GAME
							button#phase-one PHASE ONE
							button#btn-update getUpdate
							button(class="btn btn-next-turn") NEXT TURN

		
		script(type='text/javascript').
			var gameID = #{gameID}
			var userID = #{userID}
			var roomNumber = #{gameID}
			var userName = #{userName}
			
		script(src="/javascript/game_board_logic.js")
		script(src="/javascript/sidebar.js")


