extends layout

block content
	
	div.header
		h1 Munchkin
		a(href="profile") profile
		a(href="login") login
		a(href="logout") logout

	h1= title
	p Welcome to #{title}
	button(type = "button" id = "test-button" onClick = "buttonClicked()") Press me!
  