head
	link(rel='stylesheet', href='/stylesheets/login_style.css')
	link(rel='stylesheet', href='/stylesheets/home_style.css')
	script(src="https://code.jquery.com/jquery-3.2.1.js")
	script(src="/socket.io/socket.io.js")
body
	include partials/navbar.pug

	.container
		.welcome-message Welcome, #{userName} !
		
		button.createGame Create Game
		button.joinGame Join Game

	script(type='text/javascript').
		var userID = #{userID}

	script(src="/javascript/join_room.js")