body {
  background: url('../images/weathered-background.jpg');
  background-size: cover;
  background-attachment: fixed;
}

p {
  margin:0; 
}

.container{
  display:grid;
  grid-template-columns: 4fr 2fr;
  grid-column-gap: 1rem;
}

.game-board{
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 3fr 2fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  max-height: 0; 
}
 
.player-row{
  display:grid;  
  grid-column: 1/5;
  grid-column-gap: 1rem;
  grid-template-columns: repeat(3, 1fr);
}

.player{
  border: black 2px solid;
  height: 6.5rem;
  background: white;
}

.stats{
  background-color: white; 
  border: black 2px solid;
}

h3.statistics {
  padding-top:4%;
  text-align: center;
}

h2.phaseHeader {
  text-align: center;
  padding-top: 13%; 
}

p.userPhase.generalInfo {
  font-size: 2.5em;
}

p.generalInfo {
  text-align: center;
  font-size: 1.5em;
  margin: 0;
}

.own-message {
  display: flex;
  align-items: flex-end;
  flex-direction: column;
}

.message > .content {
  background:	#ffeea9;
  border-radius: 5px;
  margin-left:1%;
  margin-right: 2%;
  width: 50%;
  padding: 5px;
  word-break: break-all;
}

.message > .user {
  margin-bottom: -4px;
  margin-left: 4px;
}

.own-message > .self {
  margin-right: 1%;
  
}

.own-message > .own-content {
  text-align: right;
  background: #c3ceff;
  border-radius: 5px;
  margin-right: 1%;
  width: 50%;
  padding: 5px;
  word-break: break-all;

}

.chat-form{
  width: 100%;
}

#message {
  width: 75%
}
.message-send{
  float: right;
  width: 25%;
}

.equipment{
  overflow: scroll;
  height: 16rem;
  border: black 2px solid;
  background-color: white; 
}

.equipmentHeader{
  text-align:center;
  padding-top:4%;
}

.classHeader{
  text-align:center;
  padding-top:4%;
}

.equipped-card{
  display:-webkit-inline-box;
  width: 80%;
  margin-left: 10%;
  overflow:auto; 
  border: black 1px solid;
  border-radius: 5px;
  background-color: #E0E0E0;
}

.equipped-title {
  background-color: #E0E0E0;
  width: 69.8%;
}

.equipped-title p {
  margin-top: 13%;
  text-align: center;
}

.equipped-strength {
  width: 30%;
  background-color: #F5F5F5;
}

.equipped-strength h2 {
  text-align: center;
  margin-top: 15%;
}

h2.equipped-strength {
  background-color: grey;
  width: 30%;
}

.card-in-play{
  border: black 2px solid; 
  background-color: white;
}

h3.card-in-playHeader {
  text-align: center; 
  padding-top:4%;
}

.activatedCard {
  max-width: 60%;
  height: 70%;
  margin-left: 20%;
  border: black 2px solid;
  border-radius: 5px;
  border-color: grey; 
  background-color: #E0E0E0;
}

.activatedCardTitle {
  background-color: #F5F5F5;
  text-align:center;  
}

p.title {
  text-align: center;
  padding-top: 2%;
  font-size: 12px;
  font-weight: bold;
}

.cards-in-hand{
  background-color: none;
  display:grid;
  grid-column-gap: 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-column: 1 / 5;
}

.class-area{
  border: black 2px solid;
  background-color: white; 
}

.clicked{
  background: gray;
}

.player > p {
  text-align: center;
}

p.name{
  font-weight: bold;
}

.card{
  border: black 2px solid;
  border-radius: 5px;
  border-color: grey; 
  height: 12rem;
  display: grid;
  grid-template-rows: repeat(4, 25%);
}

.title-and-type{
  grid-column: 1 / 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
}

.title{
  width: 85%;
}

.cardStrength{
  font-size: 25px;
}

.strength{
  grid-column: 1 / 3;
  display:flex;
  justify-content: flex-end;
  padding-right: 5px;
  font-weight: bold; 
  align-items: center;
}

.description{
  padding-left: 10px;
  grid-column: 1 / 3;
}

.icon{
  width: 26px;
  height: 26px;
}

.rewards-and-level{
  grid-column: 1/3;
  display: flex;
  align-items: center;
  justify-content: space-around;
  grid-row-start: 4;
}

.rewards{
  font-weight: bold;
}

.cards-in-hand > .card:hover{
  background:#E9EAEE;
  cursor: pointer;
}

.card > p.description{
  font-size: 12px;
}

#card-in-play{
  margin: 10px;
}

#class-in-play{
  margin: 10px;
}

.phase-banner{
  grid-column: 1 / 5;
  text-align: center;
  background: white;
  border: 2px black solid;
  margin-top: 2%;
}