@font-face{
  font-family: Windlass ;
  src: url('../fonts/Windlass.ttf');
}

.container{
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 100px 100px 100px;
  grid-column-gap: 20px;
  grid-row-gap: 20px;
  background-image: url('../images/munchkin_guy.png');
  background-repeat: no-repeat;
  background-position: left bottom;
  height: 100%;
}

.welcome-message{
  font-size: 50px;
  margin-top: 10px;
  text-align:center;
  grid-column: 1/3;
}

.createGame{
  margin-left: 20px;
  font-size: 40px;
  font-family: Windlass;
  border: 2px black solid;
}

.joinGame{
  font-size: 40px;
  margin-right: 20px;
  font-family: Windlass;
  border: 2px black solid;
}

.createGame:hover{
  cursor: pointer;
}

.joinGame:hover{
  cursor: pointer;
}

.stats{
  border: 2px solid black;
}

#joinGamebutton{
  margin: 0 auto;
} 

