@font-face{
  font-family: Windlass ;
  src: url('../fonts/Windlass.ttf');
}

html, body{
  margin: 0;
  height: 100%;
  font: 14px Windlass;
  
}

h1{
  margin: 0;
  padding-top: 15px;  
  padding-left: 5px;
}

h1.title{
  font-size: 40px;
}

.navbardiv{
  margin-top: 2%;
  float: right;
}

.header{
  background-color: beige;
  display: flex;
  justify-content: space-between;
}

.box{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: column;
  height: 100%;
  background: url('../images/munchkin_background.jpg') no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.header{
  border-bottom: black 2px solid;
}

.login{
  padding: 30px;
  background-color: beige;
  border: 2px black solid;
  border-radius: 10px;
  display: flex;
  flex-flow: column;
}

form{
  margin: 0 auto;
}

.form-group{
  width: 100%;
  padding: 10px; 
  display: flex;
  justify-content: space-evenly;
}

label{
  width: 45%;
  padding: 5px;
  text-align: left;
  font-weight: bold;
}

#login-button{
  float: right;
  font-size: 16px;
}

#signup-button{
  margin: auto;
  display: block;
  font-size: 24px;
}

#reset-button{
  margin:auto;
  display: block;
  font-size: 16px;
}

.link-container{
  margin-top: 10px;
  display: flex;
  flex-flow: column;
}

.link-container > span {
  padding: 5px;
}

a.navbar{
  padding-left: 5px;
  padding-right: 5px;
  font-size: 20px;
}