body {
	padding: 0;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
	margin:0;
	height: 100%; 
}

a {
	color: #00B7FF;
}

.side-bar {
	float: right;
	height: 30rem; 
	z-index: 0;
	position: relative;
	margin-top: 16%;
}

.chat {
	border: 2px solid black;
	overflow:auto;
}

.chat-box {
	width: 100%; 
	height:24rem;
	background-color:#FFF8DC;
	overflow:auto;
}

.chat-form {
	max-width:100%; 
	display:inline-block;
}

 #message {
 	height: 30px; 
 }

.message-send.btn {
 	-webkit-border-radius: 0px;
 	-moz-border-radius: 0px;
 	border-radius: 0px;
 	border-radius: none;
 	height:10%; 
 	padding-bottom:1%;
 	padding-top:1%;
	margin-bottom:1%;
	float: right;
 }

.state-buttons-container {
	margin-top:2px;
	height:15rem;
}

.state-buttons {
	display: flex; 
	flex-direction: column; 
	height: 12rem;
}

.first-row {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
}

.first-column {
	display: flex; 
	flex-direction: column; 
	justify-content: flex-start;
}

.second-column {
	display: flex; 
	flex-direction: column; 
	
}

.second-row {
	padding-top:1rem; 
	display: flex; 
	flex-direction: row; 
	justify-content: center; 
	height:96px; 
}

.first-column > .btn{
	border: 1px black solid ;
	margin-bottom: 2px;
}

.second-column > .btn {
	border: 1px black solid ;
	margin-bottom: 2px;
}

.end-turn-container{
	display: flex;
	justify-content: space-evenly;
	flex-wrap: wrap;
}