extends form-layout

block content
  include ../partials/navbar.pug


  div.errors
    ul
      if errors
        each error in errors
          li= error.msg
  div.box
    div.login
      form(method='POST' action='add-user')
        div.form-group
          label(for='username') Email
          input(type='text' id='email' placeholder='Email' name='email')

        div.form-group
          label(for='password') Username
          input(type='text' id='userName' placeholder ='Username' name='userName')

        div.form-group
          label(for='password') Password
          input(type='password' id='password' placeholder ='Password' name='password')
        
        div.form-group
          label(for='password') Confirm Password
          input(type='password' id='password-confirmation' placeholder ='Re-enter Password' name='passwordConfirmation')
          
        
        button(type='submit' id='signup-button') Sign up!
