extends form-layout

block content
	include ../partials/navbar.pug


	div.box
		div.login
			form(method='POST' action='forgot-password')
				div.form-group
					label(for='email') Email
					input(type='text' id='email' placeholder='Email' name='email')
				button(type='submit' id='reset-button') Reset Password