doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/login_style.css')
    script(src="https://code.jquery.com/jquery-3.2.1.js")
    script(src="/socket.io/socket.io.js")
    
  body
    block content